@import "../../styles/mixins";

.restaurants-page-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 14px 20px;

  .title {
    @include font-style;
    line-height: 22px;
    letter-spacing: 1.92px;
    font-size: 18px;
    @include desktop {
      display: none;
    }
  }

  .restaurants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 24px;
    }

    .restaurants-page-card {
      margin-bottom: 15px;
    }
  }
}
