@import "../../styles/mixins";

.restaurants-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  @include desktop {
    border-top: 0.2px solid #979797;
    border-bottom: 0.2px solid #979797;
  }

  .title {
    @include font-style;
    line-height: 22px;
    letter-spacing: 1.92px;
    font-size: 18px;
    align-self: flex-start;
    padding: 14px 0 0 20px;
    @include desktop {
      display: none;
    }
  }

  .restaurants-filter-buttons {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    gap: 20px;
    padding: 0 0 0 20px;
    @include desktop {
      padding: 48px 0 0 0;
      align-self: center;
    }

    .filter-button {
      @include font-style;
      border: none;
      background-color: white;
      cursor: pointer;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.92px;
      &.active {
        border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
        font-weight: 400;
        @include desktop {
          border-bottom: none;
        }
      }
    }
  }

  .restaurants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 24px;
    }

    .restaurants-page-card {
      @include desktop {
        margin-bottom: 15px;
      }
    }
  }
}
