.restaurants-page-container {
  padding: 14px 20px;
  .restaurants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
  }
}
