@import "../../styles/mixins";

.cards-section {
  padding-left: 20px;

  h3 {
    @include font-style;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }
}
