.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;

  .hamburger-menu {
    position: absolute;
    top: 11px;
    left: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .app-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 33px;
    height: 32px;
    cursor: pointer;
  }

  .navbar-icons {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    margin-left: auto;

    .icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
